* {
    padding: 0;
    margin: 0;
    font-family: "Figtree", sans-serif;
    letter-spacing: 0px;
    line-height: 150%;
}
:root {
    --background-color: hsl(47, 88%, 63%);
    --background-card: hsl(0, 0%, 100%);
    --font-grey500: hsl(0, 0%, 42%);
    --font-grey950: hsl(0, 0%, 7%);
}
.container {
    font-size: var(--main-font-size);
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.container .card {
    background-color: var(--background-card);
    width: 332px;
    margin: auto;
    justify-items: center;
    padding: 24px;
    border-radius: 20px;
    box-shadow: 8px 8px black;
    outline: 1px solid var(--font-grey950);
}
@media (max-width: 767px) {
    .container .card {
        width: 286px;
    }
}
.container .card img.illustration-article {
    border-radius: 10px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 16px;
}
@media (max-width: 767px) {
    .container .card img.illustration-article {
        width: 279px;
    }
}
.container .card .content {
    margin-bottom: 16px;
}
.container .card .content .category {
    display: inline-block;
    padding: 4px 12px;
    background-color: var(--background-color);
    font-size: 14px;
    font-weight: 800;
    color: var(--font-grey950);
    border-radius: 4px;
    margin-bottom: 12px;
}
@media (max-width: 767px) {
    .container .card .content .category {
        font-size: 12px;
        font-weight: 800;
    }
}
.container .card .content .date {
    font-size: 14px;
    font-weight: 500;
    color: var(--font-grey950);
    margin-bottom: 12px;
}
@media (max-width: 767px) {
    .container .card .content .date {
        font-size: 12px;
        font-weight: 500;
    }
}
.container .card .content .title {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 12px;
    transition: 0.6s;
}
@media (max-width: 767px) {
    .container .card .content .title {
        font-size: 20px;
        font-weight: 800;
    }
}
@media (min-width:1281px) {
    .container .card .content .title:hover {
        color: var(--background-color);
    }
}
.container .card .content .description {
    font-size: 16px;
    font-weight: 500;
    color: var(--font-grey500);
}
@media (max-width: 767px) {
    .container .card .content .description {
        font-size: 14px;
        font-weight: 500;
    }
}
.container .card .author {
    display: flex;
    width: 100%;
    flex-direction: row;
    position: relative;
}
.container .card .author img {
    width: 32px;
    height: 32px;
    margin-right: 12px;
    display: inline-block;
}
.container .card .author .authorname {
    font-size: 14px;
    font-weight: 800;
    color: var(--font-grey950);
    margin-top: 6px;
}
